upstream saleor {
	server 127.0.0.1:9000;
}

server {
	listen 80;
	server_name centos2.home.lab;
	root {{ app_directory }};

	location / { 
            include /etc/nginx/uwsgi_params;
            uwsgi_pass saleor;
            uwsgi_param Host $host;
            uwsgi_param X-Real-IP $remote_addr;
            uwsgi_param X-Forwarded-For $proxy_add_x_forwarded_for;
            uwsgi_param X-Forwarded-Proto $http_x_forwarded_proto;
	}
}
